@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Hide scrollbar */
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body::-webkit-scrollbar {
    width: 0; /* For WebKit (Chrome, Safari) */
    height: 0; /* For WebKit (Chrome, Safari) */
}

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #e1e1e1;
    background-color: #232328;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Header styles */
header {
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #555;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #e1e1e1;
}

header p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ccc;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.2rem;
    border-bottom: 1px solid #555;
    padding-bottom: 0.3rem;
    color: #e1e1e1;
}

ul,
ol {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Footer styles */
footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #555;
}

footer p {
    margin: 0;
    color: #ccc;
}

/* Link styles */
a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* New rule to override the previous one for header links */
a.header-link:hover {
    text-decoration: none;
}

/* Mobile specific changes */
@media screen and (max-width: 600px) {
    /* Container styles */
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    /* Header styles */
    header h1 {
        font-size: 1.2rem;
    }

    header p {
        font-size: 0.8rem;
    }

    /* Main content styles */
    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}
